body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
}
canvas{display:block; margin: auto;}
h1.greeting {
  pointer-events: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 10vmin;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}

#code {
  width: 414px;
  margin: auto;
  max-height: none;
  font-size: 16px;
  line-height: 18px;
}
